LISTS

it's a derived data type
Anything written in square brackets [ ] is your lists

CREATING A LISTS-------> 4 WAYS

In [6]:
# 1 WAY-------> YOU SHOULD ALREADY KNOW THE VALUE
a = ["banana" , "apple" , "mango" , "pomegranate"]
print(a)
print(type(a))

['banana', 'apple', 'mango', 'pomegranate']
<class 'list'>

In [7]:
b = [10 , 20 , 3000 , 22000]
print(b)
print(type(b))

[10, 20, 3000, 22000]
<class 'list'>

In [8]:
c = [ 1.5 , "lavish" , 10 , 22.55]
print(c)
print(type(c))

[1.5, 'lavish', 10, 22.55]
<class 'list'>

In [9]:
# 2 WAY -----> TAKING INPUT FROM THE USER
c = eval(input("enter an value : "))
print(c)
print(type(c))
# TYPE IS SHOWING TUPLE IS WHY? ----> BECAUSE WE HAVE TO USE [ ] SQUARE BRACKE

enter an value : [1.5, 'lavish', 10, 22.55]
[1.5, 'lavish', 10, 22.55]
<class 'list'>

In [10]:
c = eval(input("enter an value : "))
print(c)
print(type(c))
# AS YOU CAN SEE NOW BECAUSE OF SQUARE BRACKET [ ]

enter an value : 1.5, 'lavish', 10, 22.55
(1.5, 'lavish', 10, 22.55)
<class 'tuple'>

In [11]:
# 3 WAY----> TYPECASTING
A = "abc"
var = list(A)
print(var)
print(type(var))

['a', 'b', 'c']
<class 'list'>

In [12]:
# 4 WAY ------> SPLIT METHOD
var = "we are learning python in jupyter notebook"
print(var.split())
(type(var))

['we', 'are', 'learning', 'python', 'in', 'jupyter', 'notebook']

str

INTERVIEW QUESTIONS
WHAT IS DIFFERENCE BETWEEN LIST AND TUPLE? WHICH ONE IS FASTER ?
Tuples are faster as it is immutable . lists are mutables and tuples are immutables .
WHAT IS DIFFERENCE BETWEEN LIST AND A NUMPY ARRAY ?
Numpy array contains homogenous data .
lists contains homogeneous and heterogeneous as well.

In [13]:
# ['a', 'b', 'c']
# <class 'list'>
# ['we', 'are', 'learning', 'python', 'in', 'jupyter', 'notebook']
# Out[4]: str
# Out[22]: ['abc']
# ['lionel', 'messi', 'is', 'the', 'authentic', 'player']
# 1683849143488
# 1683860351536

In [1]:
# append function()
var1 = "abc"

In [2]:
var1

'abc'

In [15]:
l = []

In [16]:
l.append(var1)

In [17]:
l

['abc']

In [3]:
# SPLIT ------> IT SPLITS STRING TO LISTS

my_str = "lionel messi is the authentic player"
var1 = my_str.split()
print(var1)
print(id(var1))
print(id(my_str))

['lionel', 'messi', 'is', 'the', 'authentic', 'player']
2834957300160
2834956870224

PROPERTIES OF LISTS
Sequence data
indexing and slicing allowed
allows duplicates
it is mutable data type
it can hold diffrent (HETEROGENOUS) data types
operations performed-----> concatination , repetition , membership , identity

In [8]:
# indexing
a = [100 , 200 , 3000 , 5000 , 6000 , 23000]

In [9]:
a

[100, 200, 3000, 5000, 6000, 23000]

In [10]:
a[3]

5000

In [11]:
a[-2]

6000

In [12]:
# slicing
a[0:4:]

[100, 200, 3000, 5000]

In [13]:
a[-1:-5:]

[]

In [14]:
a[-1:-5:-1]

[23000, 6000, 5000, 3000]

In [15]:
# allows duplicates
b = [1,2,3,2,2,1,1,1,1,2,2,2,2,2,2,2]
print(b)

[1, 2, 3, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2]

Operations on lists ----> concatination , repetition , membership , identity operators

In [16]:
# concatination
var1 = [1,2,3,4,5]
var2 = [6,7,8,9,10]
var1 + var2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# repetition -----> * , operands (list, int)
l1 = ["lavish", 55, 22.22 , 100]
print(l1 * 4, end = "---")

['lavish', 55, 22.22, 100, 'lavish', 55, 22.22, 100, 'lavish', 55, 22.22, 100, 'lavish', 55, 22.22, 100]---

In [25]:
# membership (in , not in)
l2 = [7, 10, 22, 25]
print(22 in l2)
l2 = [7, 10, 22, 25]
print(22 not in l2)

True
False

In [26]:
# identity (is , is not)
lst1 = [1,2,3,4]
lst2 = [1,2,3,4]
print(lst1 is lst2)
print(lst1 is not lst2)
print(id(lst1))
print(id(lst2))
# ids are different because of mutablity of lists it can be changed

False
True
2834970631552
2834970639808

Nested list------> lists inside the lists

In [27]:
lst1 = [1, 2, 4, [6, 7, 8]]
print(lst1)

[1, 2, 4, [6, 7, 8]]

In [28]:
lst1[3][::-1]

[8, 7, 6]

In [29]:
lst1[3][::1]

[6, 7, 8]

In [30]:
lst1[3][1]=9

In [31]:
lst1

[1, 2, 4, [6, 9, 8]]

In [32]:
lst1[0] = 3

In [33]:
lst1

[3, 2, 4, [6, 9, 8]]

In [34]:
d = [[1,2,3],[8,9,[12,14,19],"lavish","manjunath","geetanjali","shivam",["tom", "david", [20, 70, "shiva"]]]]

In [35]:
d

[[1, 2, 3],
 [8,
  9,
  [12, 14, 19],
  'lavish',
  'manjunath',
  'geetanjali',
  'shivam',
  ['tom', 'david', [20, 70, 'shiva']]]]

In [36]:
d[0][2] = 4

In [37]:
d

[[1, 2, 4],
 [8,
  9,
  [12, 14, 19],
  'lavish',
  'manjunath',
  'geetanjali',
  'shivam',
  ['tom', 'david', [20, 70, 'shiva']]]]

In [38]:
lst5 = [[1, 2, 3],
[5,
9,
[12, 14, 19],
'lavish',
'manjunath',
'geetanjali',
'shivam',
['tom', 'david', [20, 70, 'shiva']]]]

In [39]:
lst5[0]

[1, 2, 3]

In [40]:
lst5[1]

[5,
 9,
 [12, 14, 19],
 'lavish',
 'manjunath',
 'geetanjali',
 'shivam',
 ['tom', 'david', [20, 70, 'shiva']]]

In [41]:
lst5[1][0] = 5

In [42]:
lst5

[[1, 2, 3],
 [5,
  9,
  [12, 14, 19],
  'lavish',
  'manjunath',
  'geetanjali',
  'shivam',
  ['tom', 'david', [20, 70, 'shiva']]]]

In [43]:
lst5[1][2][1] = 17

In [44]:
lst5

[[1, 2, 3],
 [5,
  9,
  [12, 17, 19],
  'lavish',
  'manjunath',
  'geetanjali',
  'shivam',
  ['tom', 'david', [20, 70, 'shiva']]]]

In [45]:
lst5[1][3] = "LAVISH"

In [46]:
lst5

[[1, 2, 3],
 [5,
  9,
  [12, 17, 19],
  'LAVISH',
  'manjunath',
  'geetanjali',
  'shivam',
  ['tom', 'david', [20, 70, 'shiva']]]]

In [47]:
lst5[1][7][2][0] = 15

In [48]:
lst5

[[1, 2, 3],
 [5,
  9,
  [12, 17, 19],
  'LAVISH',
  'manjunath',
  'geetanjali',
  'shivam',
  ['tom', 'david', [15, 70, 'shiva']]]]

In [49]:
lst5[-1][-2] = "visham"

In [50]:
lst5

[[1, 2, 3],
 [5,
  9,
  [12, 17, 19],
  'LAVISH',
  'manjunath',
  'geetanjali',
  'visham',
  ['tom', 'david', [15, 70, 'shiva']]]]

In [51]:
lst5[-1][-2][::-1]

'mahsiv'

In [54]:
lst5[-1][-5][::-1]

'HSIVAL'

In [55]:
lst5[-2][0]= 16

In [56]:
lst5

[[16, 2, 3],
 [5,
  9,
  [12, 17, 19],
  'LAVISH',
  'manjunath',
  'geetanjali',
  'visham',
  ['tom', 'david', [15, 70, 'shiva']]]]

In [57]:
lst5[-1][-3][::-1]

'ilajnateeg'

In [58]:
lst5[-1][-1][-2][::-1]

'divad'

In [59]:
lst5[1][2][2]= 22

In [60]:
lst5

[[16, 2, 3],
 [5,
  9,
  [12, 17, 22],
  'LAVISH',
  'manjunath',
  'geetanjali',
  'visham',
  ['tom', 'david', [15, 70, 'shiva']]]]

In [61]:
lst5[1][4][::-1]

'htanujnam'

In [62]:
lst5[1][7][0][::-1]

'mot'

numpy array difference lists

In [63]:
import numpy
a = [12, "lavish", 22.25, 15, 715, 75000]
numpy.array(a)

array(['12', 'lavish', '22.25', '15', '715', '75000'], dtype='<U21')

In [64]:
a = [12, "lavish", 22.25, 15, 715, 75000]
list(a)

[12, 'lavish', 22.25, 15, 715, 75000]

In [65]:
# in numpy.array there ('') and in lists is (,)
a = [12, "lavish", 22.25, 15, 715, 75000]
print(a , type(a))
b = numpy.array(a)
print(b , type(b))

[12, 'lavish', 22.25, 15, 715, 75000] <class 'list'>
['12' 'lavish' '22.25' '15' '715' '75000'] <class 'numpy.ndarray'>

lists methods

In [68]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [69]:
# append -----> it add a element to the list of the last position. you can appe
lst = [21, 23, "lavish", 89, 78]
print(lst.append("hello"))

None

In [70]:
print(lst)

[21, 23, 'lavish', 89, 78, 'hello']

In [71]:
lst = [21, 23, "lavish", 89, 78]
print("before",lst)

before [21, 23, 'lavish', 89, 78]

In [72]:
# extend ------> SAME AS CONCATINATION (+) HAPPENS
lst = [21, 23, "lavish", 89, 78]
lst1 = [22, 24, 25, 27, "gangwani"]
lst + lst1

[21, 23, 'lavish', 89, 78, 22, 24, 25, 27, 'gangwani']

In [73]:
lst.extend(lst1)

In [74]:
lst

[21, 23, 'lavish', 89, 78, 22, 24, 25, 27, 'gangwani']

In [75]:
# differnce between append and extend 
# extend adds "hello" as an SEPRATES element

In [76]:
lst.extend("hello")

In [77]:
lst

[21, 23, 'lavish', 89, 78, 22, 24, 25, 27, 'gangwani', 'h', 'e', 'l', 'l', 'o']

In [78]:
# differnce between append and extend 
# append adds "hello" as an one element
lst.append("hello")

In [79]:
lst

[21,
 23,
 'lavish',
 89,
 78,
 22,
 24,
 25,
 27,
 'gangwani',
 'h',
 'e',
 'l',
 'l',
 'o',
 'hello']

In [80]:
# INSERT ------> IF WE WANT TO ADD AN ELEMENT AT THE REQUIRED INDEX<-----ONLY O
i1 = [21,23,'lavish',89,78,22,24,25,27]
i1.insert(3, "demon")
print(i1)

[21, 23, 'lavish', 'demon', 89, 78, 22, 24, 25, 27]

In [81]:
i1.insert(2, [300, 500])

In [82]:
i1

[21, 23, [300, 500], 'lavish', 'demon', 89, 78, 22, 24, 25, 27]

In [83]:
a = [12, 24, 36, 48, 60]

In [84]:
a.insert(-1, [55, 65, 67])

In [85]:
a

[12, 24, 36, 48, [55, 65, 67], 60]

In [86]:
a.insert(0,[55, 65, 67])

In [87]:
a

[[55, 65, 67], 12, 24, 36, 48, [55, 65, 67], 60]

In [88]:
# index-----> it'll give index no of the element
b = [100, 200, 300, 400, 500 ,600]
b.index(400)

3

In [89]:
b.index(100)

0

In [90]:
# count -----> it will give the count of elements
c = [100,22,22,22,22, 22, 34, 45, 56, 67, 78]
c.count(100)

1

In [91]:
c.count(22)

5

In [92]:
# reverse ---> it'll reverse the lists
d = [100, 200, 300, 400, 500]
d.reverse()
print(d)

[500, 400, 300, 200, 100]

In [93]:
# sort-----> it will sort the value. and it'll only take homogenous data
# a = [20, 10, 50, 30, 40]-------> HOMOGENOUS
# b = ["lavish", 22, 19, 15, 21]-------> HETEROGENOUS

In [94]:
a = [20, 10, 50, 30, 40]
b = ["lavish", 22, 19, 15, 21]

In [95]:
a.sort()
print(a)

[10, 20, 30, 40, 50]

In [96]:
# as you can see the heterogenous doesn't take 
b.sort()
print(b)

TypeError: '<' not supported between instances of 'int' and 'str'

In [97]:
a.sort()
print(a)

[10, 20, 30, 40, 50]

In [98]:
# in reverse order ----> press tab for reverse= in the brackets
a.sort(reverse=True)
print(a)

[50, 40, 30, 20, 10]

for deleting the elements in the list

pop
remove

In [100]:
# pop ------> by default it'll remove last elements by the index.
s = [1, 2, 3, 4, 56]
s.pop()
print(s)

[1, 2, 3, 4]

In [101]:
# as you can see it removes by index
s.pop(0)
print(s)

[2, 3, 4]

In [102]:
# REMOVE -----> IT'LL REMOVE ELEMENTS BY TAKING ELEMENTS
s = [1, 2, 3, 4, 56]
s.remove(2)
print(s)

[1, 3, 4, 56]

In [103]:
# IN DUPLICATES REMOVE TAKES----->FIRST OCCURANCE
s = [1, 2,3,3,3,3, 3, 4, 56]
s.remove(3)
print(s)

[1, 2, 3, 3, 3, 3, 4, 56]

In [104]:
s.remove(3)
print(s)

[1, 2, 3, 3, 3, 4, 56]

In [105]:
# ALAISING
a = [1,2,3,4,5]
b = a
print(id(a))
print(id(b))

139876737002688
139876737002688

In [106]:
# WITHOUT ALAISING IDS ARE DIFFERENT BECAUSE OF LISTS MUTABILITY
a = [1,2,3,4,5]
b = [1,2,3,4,5]
print(id(a))
print(id(b))

139876737132480
139877244675712

In [107]:
normal method by alaising

SyntaxError: invalid syntax (<ipython-input-107-c18e9268f35e>, line 1)

In [108]:
# normal method ----> WHERE WITHOUT COPY METHOD IT IS PRINTING 2200 IN BOTH A A
a = [1,2,3,4,5]
b = a
b[0] = 2200
print(a)
print(b)
print(id(a))
print(id(b))

[2200, 2, 3, 4, 5]
[2200, 2, 3, 4, 5]
139876737003200
139876737003200

In [109]:
a = [1,2,3,4,5,6,7,[100,200]]
b = a
print(a)
print(b)
b[7]=[300,400]
print("change1",a)
print("change1",b)
b[-1][-1] = 1000
print("change2a",a)
print("change2a",b)

[1, 2, 3, 4, 5, 6, 7, [100, 200]]
[1, 2, 3, 4, 5, 6, 7, [100, 200]]
change1 [1, 2, 3, 4, 5, 6, 7, [300, 400]]
change1 [1, 2, 3, 4, 5, 6, 7, [300, 400]]
change2a [1, 2, 3, 4, 5, 6, 7, [300, 1000]]
change2a [1, 2, 3, 4, 5, 6, 7, [300, 1000]]

In [110]:
s = [10, 20, 40, 20, 50, 60,[100,1200,3400,500]]
m = s
print(s)
print(m)
m[6]= ["lavish", 22,10,2002]
print("change1",s)
print("change1",m)
m[-1] = ["hello",120,240,360]
print("change2",s)
print("change2",m)
print(id(s))
print(id(m))

[10, 20, 40, 20, 50, 60, [100, 1200, 3400, 500]]
[10, 20, 40, 20, 50, 60, [100, 1200, 3400, 500]]
change1 [10, 20, 40, 20, 50, 60, ['lavish', 22, 10, 2002]]
change1 [10, 20, 40, 20, 50, 60, ['lavish', 22, 10, 2002]]
change2 [10, 20, 40, 20, 50, 60, ['hello', 120, 240, 360]]
change2 [10, 20, 40, 20, 50, 60, ['hello', 120, 240, 360]]
139876736681280
139876736681280

shallow copy()

In [113]:
# SHALLOW COPY ------> in this you can see the value added is only in b because
a = [1,2,3,4,5]
b = a.copy()
b[0] = 2200
print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3, 4, 5]
[2200, 2, 3, 4, 5]
139876737045248
139876736756224

In [114]:
a = [1,2,3,4,5,6,7,[100,200]]
b = a.copy()
print(a)
print(b)
b[7]=[300,400]
print("change1",a)
print("change1",b)
b[-1][-1] = 1000
print("change2a",a)
print("change2a",b)

[1, 2, 3, 4, 5, 6, 7, [100, 200]]
[1, 2, 3, 4, 5, 6, 7, [100, 200]]
change1 [1, 2, 3, 4, 5, 6, 7, [100, 200]]
change1 [1, 2, 3, 4, 5, 6, 7, [300, 400]]
change2a [1, 2, 3, 4, 5, 6, 7, [100, 200]]
change2a [1, 2, 3, 4, 5, 6, 7, [300, 1000]]

In [115]:
s = [10, 20, 40, 20, 50, 60,[100,1200,3400,500]]
m = s.copy()
print(s)
print(m)
m[6]= ["lavish", 22,10,2002]
print("change1",s)
print("change1",m)
m[-1] = ["hello",120,240,360]
print("change2",s)
print("change2",m)

[10, 20, 40, 20, 50, 60, [100, 1200, 3400, 500]]
[10, 20, 40, 20, 50, 60, [100, 1200, 3400, 500]]
change1 [10, 20, 40, 20, 50, 60, [100, 1200, 3400, 500]]
change1 [10, 20, 40, 20, 50, 60, ['lavish', 22, 10, 2002]]
change2 [10, 20, 40, 20, 50, 60, [100, 1200, 3400, 500]]
change2 [10, 20, 40, 20, 50, 60, ['hello', 120, 240, 360]]

Falling pain of shallow copy

In [116]:
# DOESN'T WORK IN NESTED LIST THAT'S WHY WE USE DEEPCOPY
# IT PRINTS VALUE BOTH A AND B ------> WITHOUT ALAISING (ID'S ARE DIFFERENT)
a = [1,2,3,4,56,7,[89,79,99]]
b = a.copy()
print(a)
print(b)
b[-1][-1] = 2200
print("before change",a)
print("before change",b)
print(id(a))
print(id(b))

[1, 2, 3, 4, 56, 7, [89, 79, 99]]
[1, 2, 3, 4, 56, 7, [89, 79, 99]]
before change [1, 2, 3, 4, 56, 7, [89, 79, 2200]]
before change [1, 2, 3, 4, 56, 7, [89, 79, 2200]]
139876736727360
139876736725760

In [117]:
# DOESN'T WORK IN NESTED LIST THAT'S WHY WE USE DEEPCOPY
# IT PRINTS VALUE BOTH A AND B ------> WITHOUT ALAISING (ID'S ARE DIFFERENT)
a = [1,2,3,4,56,7,[89,79,99]]
b = a.copy()
print(a)
print(b)
b[6][0] = 2200
print("before change",a)
print("before change",b)
print(id(a))
print(id(b))

[1, 2, 3, 4, 56, 7, [89, 79, 99]]
[1, 2, 3, 4, 56, 7, [89, 79, 99]]
before change [1, 2, 3, 4, 56, 7, [2200, 79, 99]]
before change [1, 2, 3, 4, 56, 7, [2200, 79, 99]]
139876736728960
139876736727936

DEEPCOPY-----> MAINLY USE FOR NESTED LISTS

In [119]:
from copy import deepcopy
a = [1,2,3,4,56,7,[89,79,99]]
b = deepcopy(a)
print(a)
print(b)
b[-1][-1] = 2200
print("before change",a)
print("before change",b)
print(id(a))
print(id(b))

[1, 2, 3, 4, 56, 7, [89, 79, 99]]
[1, 2, 3, 4, 56, 7, [89, 79, 99]]
before change [1, 2, 3, 4, 56, 7, [89, 79, 99]]
before change [1, 2, 3, 4, 56, 7, [89, 79, 2200]]
139876736728704
139876736730432

In [120]:
a = [1,2,3,4,56,7,[89,79,99]]
b = deepcopy(a)
print(a)
print(b)
b[6][0] = 2200
print("before change",a)
print("before change",b)
print(id(a))
print(id(b))

[1, 2, 3, 4, 56, 7, [89, 79, 99]]
[1, 2, 3, 4, 56, 7, [89, 79, 99]]
before change [1, 2, 3, 4, 56, 7, [89, 79, 99]]
before change [1, 2, 3, 4, 56, 7, [2200, 79, 99]]
139876737200192
139877222766400

POINTS TO REMEMBER:
By alaising ids are same and to change value in list it happen in both var.
By Copy method ids are diffrent and to change value in list it happens in only one var. but
there is loopholes in it you cannot do copy method in nested list because of it prints in both
var. thats where we use deepcopy because of nested list.
for deepcopy we use:
from copy import deepcopy

LISTS COMPREHENSION:

Shortest way to write a for loop in format list

FOR LOOP: IT IS USED TO PERFROM ITERATIONS ON A ITERABLE
ITERATION MEANS : performing same operation multiple times

SYNTAX:
for (anything) in iterable:
print(statement1)
print(statement2)
print(statement3)
print(statement4)
print(statement5)
var : placeholder
iterable : - if dir(obj) should contains ----> (iter) - length (len) should be applicable
iterables : lists,string,tuples,dictionary,sets
not iterables : bool,complex,float,int,none

In [122]:
a = [10,20,30,40,50]
for l in a:
 print(l)

10
20
30
40
50

In [123]:
a = [10,20,30,40,50]
for l in a:
 print(l, end=" ")

10 20 30 40 50

In [124]:
a = [10,20,30,40,50]
for l in a:
 print(l, sep="^", end=" ")

10 20 30 40 50

In [125]:
# normal method
for e in [1,2,3,4,5,6,7,8,9,10]:
 print(2*e)

2
4
6
8
10
12
14
16
18
20

In [126]:
# in format string method
r = [1,2,3,4,5,6,7,8,9,10]
for e in r:
 print(f"2 * {e} = {2*e}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [127]:
# in format string method
for e in range(1,11):
 b = 2*e
 print(f"2 * {e} = {b}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [128]:
# in normal method
v = [1,2,3,4,5,6,7,8,9,10]
for d in v:
 q = 50+d
 print(q)

51
52
53
54
55
56
57
58
59
60

In [129]:
# in format string method
for d in range(1,11):
 print(f"50 * {d} = {50*d}")

50 * 1 = 50
50 * 2 = 100
50 * 3 = 150
50 * 4 = 200
50 * 5 = 250
50 * 6 = 300
50 * 7 = 350
50 * 8 = 400
50 * 9 = 450
50 * 10 = 500

In [130]:
lst = [1,2,3,4,5,6,7,8,9,10]
for w in lst:
 a = 100*w
 print(a)

100
200
300
400
500
600
700
800
900
1000

In [139]:
for i in range(1,11,1):
    if i%2==0:
        print(i)

2
4
6
8
10

In [146]:
l1 = [[1,2,3],[8,9,[12,14,19],"lavish","manjunath","geetanjali","shivam",["tom", "david", [20, 70, "shiva"]]]]
for v in l1:
     print(v[::-1])

[3, 2, 1]
[['tom', 'david', [20, 70, 'shiva']], 'shivam', 'geetanjali', 'manjunath', 'lavish', [12, 14, 19], 9, 8]

In [147]:
for i in range(20,70,1):
    b=i+1
    print(f"{i}+{1} = {b}")

20+1 = 21
21+1 = 22
22+1 = 23
23+1 = 24
24+1 = 25
25+1 = 26
26+1 = 27
27+1 = 28
28+1 = 29
29+1 = 30
30+1 = 31
31+1 = 32
32+1 = 33
33+1 = 34
34+1 = 35
35+1 = 36
36+1 = 37
37+1 = 38
38+1 = 39
39+1 = 40
40+1 = 41
41+1 = 42
42+1 = 43
43+1 = 44
44+1 = 45
45+1 = 46
46+1 = 47
47+1 = 48
48+1 = 49
49+1 = 50
50+1 = 51
51+1 = 52
52+1 = 53
53+1 = 54
54+1 = 55
55+1 = 56
56+1 = 57
57+1 = 58
58+1 = 59
59+1 = 60
60+1 = 61
61+1 = 62
62+1 = 63
63+1 = 64
64+1 = 65
65+1 = 66
66+1 = 67
67+1 = 68
68+1 = 69
69+1 = 70

In [148]:
for g in range(2,22,2):
    c = g//2
    print(f"{g} // {2} = {c}")

2 // 2 = 1
4 // 2 = 2
6 // 2 = 3
8 // 2 = 4
10 // 2 = 5
12 // 2 = 6
14 // 2 = 7
16 // 2 = 8
18 // 2 = 9
20 // 2 = 10

In [150]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break
        print(x)

apple
banana

In [151]:
var = [100,200,300,400,500,600,700,800,900,1000,20000]
for b in var:
    print(b)
    if b == 400:
        break
        print(b)

100
200
300
400

In [152]:
for z in range(100,500,50):
    print(f"{z} + {1} = {z+1}")

100 + 1 = 101
150 + 1 = 151
200 + 1 = 201
250 + 1 = 251
300 + 1 = 301
350 + 1 = 351
400 + 1 = 401
450 + 1 = 451

In [153]:
var1 = [1,2,3,4,5,6,7,8,9,10]
for v in var1:
     print(f"{5} * {v} = {v*5}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [154]:
for i in range(11):
    c=i*12
    if(c!=0):
        print(f"{12}*{i}={c}")

12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120

In [155]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [157]:
num = [1,2,3,4,5,6,7,8,9,10]
for i in num:
    print(i)
    if i == 7 :
        break
        print(i)

1
2
3
4
5
6
7

In [158]:
for i in range(2,20,2):
    print(i)
    if i == 19:
        break
        print(i)

2
4
6
8
10
12
14
16
18

In [159]:
for i in range(5,50,5):
      print(i)
      if i == 30:
        break
        print(i)

5
10
15
20
25
30

In [160]:
for x in [0, 1, 2]:
 pass

In [162]:
for i in range(2, 22, 2):
    print(i)
    if i == 14:
        break
        print(i)

2
4
6
8
10
12
14

In [163]:
sum = 0
for i in range(3, 33, 3):
    sum = sum + i
print(sum)

165

In [164]:
for i in range(3,33,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [165]:
numbers = [1, 2, 3, 4, 5]
# iterate over each element in list num
for i in numbers:
    # ** exponent operator
    square = i ** 2
    print("Square of:", i, "is:", square)

Square of: 1 is: 1
Square of: 2 is: 4
Square of: 3 is: 9
Square of: 4 is: 16
Square of: 5 is: 25

In [166]:
numbers = [10, 20, 30, 40, 50]
# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum // list_size
print(average)

30

In [167]:
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [169]:
for i in range(9, 51):
 # divide each number by 2
 if i%2==0:
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [170]:
for i in range(10,55):
 # each elements divide by 3
 if i%3==0:
    print("divided",i)
 else:
    print("remainder",i)

remainder 10
remainder 11
divided 12
remainder 13
remainder 14
divided 15
remainder 16
remainder 17
divided 18
remainder 19
remainder 20
divided 21
remainder 22
remainder 23
divided 24
remainder 25
remainder 26
divided 27
remainder 28
remainder 29
divided 30
remainder 31
remainder 32
divided 33
remainder 34
remainder 35
divided 36
remainder 37
remainder 38
divided 39
remainder 40
remainder 41
divided 42
remainder 43
remainder 44
divided 45
remainder 46
remainder 47
divided 48
remainder 49
remainder 50
divided 51
remainder 52
remainder 53
divided 54

In [171]:
num = [2,4,5,7,9]
for i in num:
 cube = i ** 3
 print("cube of", i , "cube is", cube)

cube of 2 cube is 8
cube of 4 cube is 64
cube of 5 cube is 125
cube of 7 cube is 343
cube of 9 cube is 729

In [172]:
for i in range(1,11):
 if i%2 ==0 :
     print("even number",i)
 else:
     print("odd number",i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10

In [173]:
# example : print the sum of ALL even number from 20 to 40
sum = 0
for i in range(20, 42, 2):
   sum = sum + i
print(sum)

330

In [174]:
sum = 0
for i in range(3, 33, 3):
 sum = sum + i
print(sum)

165

In [175]:
for i in range(1,11):
 square = i ** 2
 print("squareof", i, "square is",square)

squareof 1 square is 1
squareof 2 square is 4
squareof 3 square is 9
squareof 4 square is 16
squareof 5 square is 25
squareof 6 square is 36
squareof 7 square is 49
squareof 8 square is 64
squareof 9 square is 81
squareof 10 square is 100

In [176]:
for i in range(1,11):
 cube = i ** 3
 print("cubeof", i, "cube is",cube)

cubeof 1 cube is 1
cubeof 2 cube is 8
cubeof 3 cube is 27
cubeof 4 cube is 64
cubeof 5 cube is 125
cubeof 6 cube is 216
cubeof 7 cube is 343
cubeof 8 cube is 512
cubeof 9 cube is 729
cubeof 10 cube is 1000

In [177]:
for i in range(1,11):
 num = i * 3
 print(num)

3
6
9
12
15
18
21
24
27
30

In [178]:
for i in range(1,11):
 num = i*i
 print("sq's are: ",i,num)

sq's are:  1 1
sq's are:  2 4
sq's are:  3 9
sq's are:  4 16
sq's are:  5 25
sq's are:  6 36
sq's are:  7 49
sq's are:  8 64
sq's are:  9 81
sq's are:  10 100

In [181]:
for i in range(1,10,1):
 if i%2==0:
    print("divided",i)
 else:
    print("not divided",i)

not divided 1
divided 2
not divided 3
divided 4
not divided 5
divided 6
not divided 7
divided 8
not divided 9

In [182]:
for i in range(2,11):
 if i%3==0:
     print("odd num: ",i)
 else:
     print("even num: ",i)

even num:  2
odd num:  3
even num:  4
even num:  5
odd num:  6
even num:  7
even num:  8
odd num:  9
even num:  10

In [183]:
sum = 0
for i in range(2,22,2):
 sum = sum + i
print(sum)

110

In [184]:
for i in range(1,11):
 print(f"{5} * {i} = {5*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [185]:
for i in range(2,22,2):
 print("even numbers: ",i)

even numbers:  2
even numbers:  4
even numbers:  6
even numbers:  8
even numbers:  10
even numbers:  12
even numbers:  14
even numbers:  16
even numbers:  18
even numbers:  20

In [188]:
for i in range(1,11):
 if i%2==0:
     print("even num: ",i)
 else:
     print("odd num: ",i)

odd num:  1
even num:  2
odd num:  3
even num:  4
odd num:  5
even num:  6
odd num:  7
even num:  8
odd num:  9
even num:  10

In [189]:
b = "This is python's class"
b.split()
for i in b:
 print(i[::-1], end=" ")

T h i s   i s   p y t h o n ' s   c l a s s

In [190]:
b = "This is python's class"
c = " ".join(b.split()[::-1])
print(c)

class python's is This

In [191]:
a = "This is python's class"
b = " ".join(a.split()[::-1])
print(b)

class python's is This

In [192]:
a = "My name is Lavish"
b = " ".join(a.split()[::-1])
b

'Lavish is name My'

In [193]:
a = [1,2,3,4,5,6,7,8,9,11]
b = []
for i in a:
 b.append(i*i)
 print(b)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 121]

In [194]:
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 121]

In [195]:
hello = [1, 4, 9, 16, 25, 36, 49, 64, 81, 121]
for i in range(len(hello)):
 print(i)

0
1
2
3
4
5
6
7
8
9

In [196]:
a = "this is python"
b = a.split()

In [197]:
b

['this', 'is', 'python']

In [198]:
b.reverse()

In [199]:
" ".join(b)

'python is this'

LIST COMPREHENSION

In [201]:
b = [i for i in a]
print(b)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [215]:
list_com = ["usman@gmail.com","lavish@icloud.com","geetanjali@yahoo.com","riya12@xyz.com"]
list1 = []
for i in list_com:
    list1.append(i.split("@")[0])
    print(list1)

['usman']
['usman', 'lavish']
['usman', 'lavish', 'geetanjali']
['usman', 'lavish', 'geetanjali', 'riya12']

In [216]:
list1

['usman', 'lavish', 'geetanjali', 'riya12']

In [217]:
section1 = ["lavish&1234","harry&765","verma&123","garry&1234"]
sec1 = []
for i in section1:
 sec1.append(i.split("&")[0])
 print(sec1)

['lavish']
['lavish', 'harry']
['lavish', 'harry', 'verma']
['lavish', 'harry', 'verma', 'garry']

In [218]:
sec1

['lavish', 'harry', 'verma', 'garry']

In [219]:
for i in range(1,11):
 print(f"{5} * {i} = {5*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [220]:
for i in range(1,11):
 if i%2==0:
    print("even num: ",i)
 else:
    print("odd num: ",i)

odd num:  1
even num:  2
odd num:  3
even num:  4
odd num:  5
even num:  6
odd num:  7
even num:  8
odd num:  9
even num:  10

In [221]:
# average program
a = [12,13,14,15,16,17,18]
sum = 0
for i in a:
 sum = sum + i
list_size = len(a)
average = sum//list_size
print(average)

15

In [222]:
sum = 0
for i in range(1,11):
 sum = sum + i
print(sum)

55

In [223]:
for i in range(1,11):
 b = i*i
 print(b)

1
4
9
16
25
36
49
64
81
100